<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.mybatis.mapper.ClazzMapper">

	<resultMap type="Clazz" id="clszzCourseInfoMap">
		<id property="id" column="classId"/>
		<result property="name" column="className"/>
		<!-- collection:关联查询出的学生信息映射到集合中 -->
		<collection property="courseList" ofType="Course">
			<id property="id" column="id"/>
			<result property="name" column="name"/>
			<result property="credit" column="credit"/>
		</collection>
	</resultMap>

	<!-- 查询id查询班级信息，包含这个班里所有课程信息 -->
	<select id="findClazzCourseInfoById" parameterType="Integer" resultMap="clszzCourseInfoMap" >
		select c.id as classId,c.name as className,co.id,co.name,co.credit
		from class as c inner join class_course as cc
		on c.id=cc.class_id
		inner join course as co 
		on cc.course_id=co.id
		where c.id=#{id};
	</select>

	<resultMap type="Clazz" id="clszzInfoMap">
		<id property="id" column="classId"/>
		<result property="name" column="className"/>
		<!-- collection:关联查询出的学生信息映射到集合中 -->
		<collection property="list" ofType="Student">
			<id property="id" column="id"/>
			<result property="name" column="name"/>
			<result property="age" column="age"/>
			<result property="gender" column="gender"/>
			<result property="birthday" column="birthday"/>
		</collection>
	</resultMap>

	<!-- 查询id查询班级信息，包含这个班里所有学生信息 -->
	<select id="findClazzInfoById" parameterType="Integer" resultMap="clszzInfoMap" >
		SELECT c.id as classId,c.name as className,s.id,s.name,s.age,s.gender,s.birthday
		FROM class AS c INNER JOIN student AS s
		ON c.id=s.class_id
		WHERE c.id=#{id};
	</select>
	
	<!-- 查询id查询学生信息 -->
	<select id="findStudentListByName" parameterType="String" resultType="Student" >
		SELECT s.id,s.name,s.age,s.gender,s.birthday 
		FROM class AS c INNER JOIN student AS s 
		ON c.id=s.class_id 
		WHERE c.name like '%${value}%'; 
	</select>

	<!-- 通过id查询学生 -->
	<select id="findById" parameterType="Integer" resultType="Clazz" >
		select * from class where id = #{id}
	</select>
	
	<!-- resultType理论上是写List<Clazz>，但是只要写List里面的类型就可以了 -->
	<select id="findAll" resultType="Clazz">
		select * from class
	</select>
	
	<!-- 根据姓名模糊查找 -->
	<select id="findByName" parameterType="String" resultType="Clazz">
		select * from class where name like '%${value}%'
	</select>
	
	<!-- 增加 -->
	<insert id="insert" parameterType="Clazz">
		insert into class(name) 
		values(#{name})
	</insert>
	
	<!-- 根据id删除 -->
	<delete id="deleteById" parameterType="Integer">
		delete from class where id=#{id}
	</delete>
	
	<delete id="delete" parameterType="Clazz">
		delete from class where id=#{id}
	</delete>
	
	<!-- 跟新 -->
	<update id="update" parameterType="Clazz">
		update class 
		set name=#{name}
		where id=#{id}
	</update>
</mapper>